@{
	ViewData["Title"] = "Order Confirmation";
}

<h2>Order Confirmation</h2>
<p>Your order was successfully placed.</p>
<br />

<div>
	<a  asp-action="Index">Back to Orders</a>
	<a asp-controller="Car" asp-action="Index">Back to Cars</a>
</div>